body {
    text-align: center;
    background-color: #1e1e1e;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.3);
}

h2, h3 {
    font-size: 1.6rem;
    margin: 0.5rem;
}

.key-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    place-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

.key {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin: 1rem;
}

.red { background-color: #e74c3c; }
.blue { background-color: #3498db; }
.yellow { background-color: #f1c40f; color: black; }
.green { background-color: #2ecc71; }

.flash {
    background-color: white !important;
    box-shadow: 0 0 20px white;
}

.userflash {
    background-color: violet !important;
    box-shadow: 0 0 20px violet;
}

.key:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.key:active {
    transform: scale(0.95);
}


@media (max-width: 1100px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.75rem;
    }
    
    .key-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 90vw;
    }
    
    .key {
        height: 200px;
        width: 200px;
        font-size: 2.5rem;
        margin: 1.5rem;
    }
}

@media (max-width: 600px) {
    .key-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .key {
        height: 120px;
        width: 120px;
        font-size: 1.5rem;
        margin: 1rem;
    }
}
